<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
   
    google.charts.setOnLoadCallback(drawBasic);
   
    function drawBasic() {
        var data = google.visualization.arrayToDataTable([
        ['Port', '# of calls',],
        {{#data}}
            ['{{name}}', {{numberOfCalls}}],
        {{/data}}
        ]);

        var options = {
        title: '{{title}}',
        chartArea: {width: '50%'},
        hAxis: {
            title: 'Number of calls',
            minValue: 0
        },
        vAxis: {
            title: 'Ports'
        },
        width:1024,
        height:768
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

        chart.draw(data, options); 
    }
</script>
<div id="chart_div"></div>