<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Portchain code challenge</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        html, body {
            height: 100%;
        }

        html {
            display: table;
            margin: auto;
        }

        body {
            display: table-cell;
            vertical-align: middle;
        }

        #menu {
            display: table;
            margin: auto;
        }
        #menu li {
            display: inline;
            list-style-type: none;
            padding: 12px;
        }

    </style>
</head>
<body>
<div id="menu">
    <li>
        <a href="/most-busy-ports/5">Most port calls</a>
    </li>
    <li>
        <a href="/least-busy-ports/5">Fewest port calls</a>
    </li>
        <li>
        <a href="/duration-percentile">Call Duration Percentile</a>
    </li>
</div>

    {{{body}}}


</body>
</html>